div{
-moz-border-radius:10px;
-webkit-border-radius:10px;
-ms-border-radius:10px;
}
body  {
	text-align:center;
  	margin:0 auto;
	backgropund:"imagenes/fondo.png";
	}
	
#wrap {
	margin:0 auto;
	padding:5px;
	text-align:center	;
	border:1px solid #000000;
	background-color:#808080;
	
	}


