.menu {
  font-family: arial, verdana, sans-serif;
  position: relative;
}
.menu, .menu .toggle {
  height: 25px;
  line-height: 25px;
}
.menu .toggle {
  color: #999;
  font-size: 11px;
  font-weight: bold;
  cursor: hand;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
}
.menu .toggle-hover {
  color: red;
}

.menu .items {
  position: absolute;
  left: 50px;
  top: 0;
}

.menu .items ul,
.menu .items li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.menu .items li {
  float: left;
  height: 25px;
  line-height: 25px;
  padding: 0 10px 0 0;
}
.menu .items a {
  font-size: 16px;
  font-weight: regular;
  color: #f90;
  text-decoration: none;
}
.menu .items a:hover {
  text-decoration: underline;
}
.menu .items a.current {
  color: #999;
}


.clearfix:after {
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden;
}

.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */