<div class='login' style='position:relative;margin-top:40px;padding:60px 15px 15px 15px; width:400px;height:150px;margin-left:auto;margin-right:auto;'>
    <div class='login' style='margin-top:-55px;padding-top:-15px;margin-left:-15px;border:0px solid red; width:400px;margin-left:auto;margin-right:auto;font-size:42px;box-shadow: 0px 0px ; border:2px solid black;'><center style='font: small-caps 100%/150% serif;color:black;font-size:20px;background-color:gray'>Ingreso al Sistema</center></div>
    <hr>
    <form method="post" name="carga" action="login.php">
    <table style="font-size:14px;color:#FFF;height:145px;width:100%;" cellpadding=0 cellspacing=0 border="0" align="center" >

    <tr>
        <td rowspan=2><img src="imagenes/escudCTP2.gif" height="80px" /></td>
        <td style='background-color:gray;'><img src='imagenes/user_business_32.png'></td>
        <td style='background-color:gray'><input type="text" name="usuario" size="25" placeholder='Nombre de usuario'></td>
    </tr>
    <tr>
        <td style='background-color:gray'><img src='imagenes/lock_32.png'></td>
        <td style='background-color:gray'><input type="password" name="clave" size="25" placeholder="Contrase&ntilde;a"></td>
    </tr>
    <tr><td colspan="4" align="center"><hr>
    
    <button class='button2'  style='width:140px' onclick="javascript:enviar(this.form)">Ingresar</button>
    <button class='button2'  style='width:140px' onclick="javascript:registro()">Registro</button>
    </td></tr> 
    </table>
    </form>
</div>
