
body {
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    font-size: 14px;
    color: #000;
    text-align:'center';
    padding-top:5px;
    
    margin-top:0px;
    margin-left:0px;
    background-color: transparent;
}


.Estilo1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
.Estilo14 {font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.Estilo64 {font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #000000; }
.Estilo65 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#FFF;
}

.Estilo66 {
	font-size: 12px;
	font-style: italic;
	color:#FFF
}
.Estilo67 {
    background-color:#FFF;
    color:#000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    opacity:0.9;
    text-align:justify;
}

.menuant
  {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: none;
  background: #9a9a9a;
  color: #000000;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
   width:140px;
  transition: all 100ms ease;
  margin:5px
}
.menuant:hover
{
  background:#f68c1f;
  color:#FFF;
}

   
.button {
 border: none;
 background: #9a9a9a;
 color: #000000;
 padding: 5px;
 font-size: 12px;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 width:140px;
 transition: all 100ms ease;
 margin:5px
}
.button:hover {
 background: #000000;
 color: #9a9a9a;
 box-shadow: inset 0 0 0 3px #3a7999;
}



option:hover{
    color:blue;
}
.Rotar90
{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
 
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
 
  font-size: 14px;
  position: relative;
}
@media print
{
   .saltoDePagina{
                  display:block;
          page-break-after: always;
	         }
    .botoneliminar{
		     display:none;
		     visibility:hidden;
                  }
}
.divBotones
{
    position:absolute;
    background-color:transparent;
    border:none;
}
div
{
  position:absolute;
  background-color:#000;
  color:#FFF;
  border:1px solid white;
  opacity:0.8;
}
.divgeneral
{
  position:absolute;
  background-color:#000;
  color:#000;
  border:1px solid white;
  opacity:0.8;
}
.divopaco
{
  position:absolute;
  background-color:#000;
  color:#000;
  border:1px solid white;
  opacity:1;
}
.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
    display:none; 
}

.radio-toolbar label {
    display:inline-block;
    background-color:#ddd;
    padding: 2px 3px;
    font-family:Arial;
    font-size:9px;
    border: 2px solid #444;
    border-radius: 4px;    
    width:60px;
    text-align:center;
    color:#000;
}

.radio-toolbar label:hover {
  background-color: #dfd;
}

.radio-toolbar input[type="radio"]:checked + label { 
    background-color:#bfb;
    border-color: #4c4;
}
.divsinestilos
{
  background-color:transparent;
  border: 0px solid white;
}

.button2 {
   border-top: 1px solid #000000;
   background: #5c7382;
   background: -webkit-gradient(linear, left top, left bottom, from(#01080d), to(#5c7382));
   background: -webkit-linear-gradient(top, #01080d, #5c7382);
   background: -moz-linear-gradient(top, #01080d, #5c7382);
   background: -ms-linear-gradient(top, #01080d, #5c7382);
   background: -o-linear-gradient(top, #01080d, #5c7382);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button2:hover {
   border-top-color: #122c3d;
   background: #e2920f;
   color: #ccc;
   }
.button2:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
.login {
   background: #1b435e;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle; 
}
.errorDiv
{
  font-family:  "Times New Roman", Times, serif;
  font-size: 12px;
  border: none;
  background: #d6063d;
  color: #000000;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 100ms ease;
  margin:5px;
  font-weight: bold;
  margin-top: 0px; 
  margin-right: auto; 
  margin-bottom: 0px; 
  margin-left: auto; 
  width: 900px; 
  height:50px;
  vertical-align: middle;
}


span {
    position:absolute;
    top:-2em;
    right: 0.5em;
 
    width: 1.5em;
    height: 1.5em;
 
    line-height:1.5em;
    text-align:center;
 
    font-family:'Helvetica Neue', Helvetica, sans-serif;
    font-weight:bold;
    color:#000;
    text-shadow:0px 1px 0px rgba(0,0,0,.15);
 
 
    -webkit-border-radius:4em;
    -moz-border-radius:4em;
    border-radius:4em;
 
    opacity:0;
    filter: alpha(opacity=0);
 
    -webkit-transition: .3s top ease-in, .3s opacity ease-in;
    -moz-transition: .3s top ease-in, .3s opacity ease-in;
    -o-transition: .3s top ease-in, .3s opacity ease-in;
    -ms-transition: .3s top ease-in, .3s opacity ease-in;
    transition: .3s top ease-in, .3s opacity ease-in;
}
.pink {
    background-image: -webkit-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    background-image: -moz-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    background-image: -o-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    background-image: -ms-linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    background-image: linear-gradient(top, rgb(247, 130, 151), rgb(244, 102, 119));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f78297', EndColorStr='#f46677');
 
    border:1px solid #ce4f5e;
}
.yellow {
    background-image: -webkit-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 72));
    background-image: -moz-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 72));
    background-image: -o-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 72));
    background-image: -ms-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 72));
    background-image: linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 72));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#feda71', EndColorStr='#feba48');
 
    border:1px solid #dea94f;
}
.blue {
    background-image: -webkit-linear-gradient(top, rgb(172, 228, 248), rgb(108, 205, 243));
    background-image: -moz-linear-gradient(top, rgb(172, 228, 248), rgb(108, 205, 243));
    background-image: -o-linear-gradient(top, rgb(172, 228, 248), rgb(108, 205, 243));
    background-image: -ms-linear-gradient(top, rgb(172, 228, 248), rgb(108, 205, 243));
    background-image: linear-gradient(top, rgb(172, 228, 248), rgb(108, 205, 243));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ace4f8', EndColorStr='#6ccdf3');
    color:black;
    border:1px solid #79b5cb;
}

.menu {
    display: inline-block;
    float:right;
    background-image: -webkit-linear-gradient(top, rgb(249, 249, 249), rgb(240, 240, 240));
    background-image: -moz-linear-gradient(top, rgb(249, 249, 249), rgb(240, 240, 240));
    background-image: -o-linear-gradient(top, rgb(249, 249, 249), rgb(240, 240, 240));
    background-image: -ms-linear-gradient(top, rgb(249, 249, 249), rgb(240, 240, 240));
    background-image: linear-gradient(top, rgb(249, 249, 249), rgb(240, 240, 240));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f9f9f9', EndColorStr='#f0f0f0');
 
    -webkit-border-radius:0.2em;
    -moz-border-radius:0.2em;
    border-radius:0.2em;
 
    border:1px solid #cecece;
    margin:0;
    padding:0;

}

.menu li {
    float:left;
    position:relative;
    text-transform: uppercase;
    display:inline-block;
    vertical-align:middle;
}
.menu li:first-child { border-left:none; }
.menu li:last-child  { border-right:none;}

.menu li a {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:10px;
  vertical-align:middle;
}

.menu li:hover a {
    color: #343434;
}
 
.menu li:hover a span {
    top:-1em;
    opacity:1;
    filter: alpha(opacity=100);
}
.menu li a[data-bubble]:after {
    content:attr(data-bubble);
    position:absolute;
    top:-1.25em;
    right: 0.5em;
 
    width: 1.5em;
    height: 1.5em;
 
    line-height:1.5em;
    text-align:center;
 
    font-family:"Helvetica Neue";
    font-weight:bold;
    color:#000;
    text-shadow:0px 1px 0px rgba(0,0,0,.15);
 
    -webkit-box-shadow:
        inset 0px 1px 0px rgba(255,255,255,35),
        0px 1px 1px rgba(0,0,0,.2);
    -moz-box-shadow:
        inset 0px 1px 0px rgba(255,255,255,.35),
        0px 1px 1px rgba(0,0,0,.2);
    box-shadow:
        inset 0px 1px 0px rgba(255,255,255,.35),
        0px 1px 1px rgba(0,0,0,.2);
 
    -webkit-border-radius:4em;
    -moz-border-radius:4em;
    border-radius:4em;
 
    opacity:0;
filter: alpha(opacity=0);
}
.menu li:hover a[data-bubble]:after {
    opacity:1;
filter: alpha(opacity=100);
}
.wapper{
   width: auto;
    margin: 0px auto;

}
