
body {
    font-family: 'trebuchet MS', 'Lucida sans', Arial;
    font-size: 14px;
    color: #444;
    text-align:'center';
    padding-top:5px;
    
    margin-top:0px;
    margin-left:0px;
}


.Estilo1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #000;
}
.Estilo14 {font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}
.Estilo64 {font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #000000; }
.Estilo65 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#FFF;
}

.Estilo66 {
	font-size: 12px;
	font-style: italic;
	color:#FFF;
}
.Estilo67 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#FFF;
}

.Estilo66B {
	font-size: 18px;
	font-style: italic;
	color:#000fff;
}
.Estilo67B {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color:#fff000;
}

.button2 {
   border-top: 1px solid #000000;
   background: #f68c1f;
   background: -webkit-gradient(linear, left top, left bottom, from(#00adef), to(#f68c1f));
   background: -webkit-linear-gradient(top, #00adef, #f68c1f);
   background: -moz-linear-gradient(top, #00adef, #f68c1f);
   background: -ms-linear-gradient(top, #00adef, #f68c1f);
   background: -o-linear-gradient(top, #00adef, #f68c1f);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }

   
button {
 border: none;
 background: #9a9a9a;
 color: #000000;
 padding: 5px;
 font-size: 12px;
 border-radius: 5px;
 position: relative;
 box-sizing: border-box;
 width:140px;
 transition: all 100ms ease;
 margin:5px
}
button:hover {
 background: #000000;
 color: #9a9a9a;
 box-shadow: inset 0 0 0 3px #3a7999;
}


.menu 
  {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  border: none;
  background: #9a9a9a;
  color: #000000;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
   width:140px;
  transition: all 100ms ease;
  margin:5px
}
.menu:hover
{
  background:#f68c1f;
  color:#000;
}


option:hover{
    color:blue;
}
.Rotar90
{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
 
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
 
  font-size: 40px;
  background: #e0e0e0;
  width: 100px;
  position: relative;
  top: 50px;
}
@media print
{
   .saltoDePagina{
                  display:block;
                  page-break-before: always;
                  page-break-inside: auto;
	         }
    .botoneliminar{
		     display:none;
		     visibility:hidden;
                  }
}
div
{
  position:absolute;
  background-color:#000;
  color:#FFF;
  border:1px solid white;
  opacity:0.8;
}
.divgeneral
{
  position:absolute;
  background-color:#000;
  color:#FFF;
  border:1px solid white;
  opacity:0.8;
}
.radio-toolbar {
  margin: 10px;
}

.radio-toolbar input[type="radio"] {
    display:none; 
}

.radio-toolbar label {
    display:inline-block;
    background-color:#ddd;
    padding: 2px 3px;
    font-family:Arial;
    font-size:9px;
    border: 2px solid #444;
    border-radius: 4px;    
    width:60px;
    text-align:center;
    color:#000;
}

.radio-toolbar label:hover {
  background-color: #dfd;
}

.radio-toolbar input[type="radio"]:checked + label { 
    background-color:#bfb;
    border-color: #4c4;
}
.divsinestilos
{
  background-color:transparent;
  border: 0px solid white;
}
