 
  <script src="js/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/jquery.ui-1.7.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/rb_menu.js" type="text/javascript" charset="utf-8"></script>


  
  <link rel="stylesheet" type="text/css" href="css/rb_menu.css" media="screen,projection" />

<div id="menu1" class="menu clearfix">
  <div class="toggle">menu &#187;</div>  
  <div class="items">  
    <ul>
      <li><a href="login.php" target="cuerpo">Ingreso</a></li>
    </ul>
  </div>
</div>
<script type="text/javascript" charset="utf-8">
$('#menu1').rb_menu();
$('#menu2').rb_menu({triggerEvent: 'click', hideOnLoad: true, loadHideDelay: 0, autoHide: false});
$('#menu3').rb_menu({transition: 'swing'});
</script>
